
  h1{
    margin-bottom: 20px;
  }

  .hotel-text{
    color: var(--neutral-dark-blue);
  }

 
  

  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    padding-bottom: 20px;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    border-radius: 4px;
    background: #e0e0e0;
    box-shadow:  0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
    padding: 40px;
    text-align: center;
    margin-bottom: 20px;
    
  }