.gallery-title{

    padding: 50px 0 0 0;
}

.gallery{
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
    width:90%;
    margin:0 auto;
    padding:20px;
}


 .gallery img{
    margin:20px;
    border-radius:5px;
    box-shadow: 0 3px 5px #000;
    cursor:pointer;
    padding:30px;
    margin:20px;
} 

